body {
    font-family: sans-serif;
}

.cor01 {
    background: red;
    height: 25vh;
    text-align: center;
}

.cor02 {
    background: orange;
    height: 25vh;
    text-align: center;   
}

.cor03 {
    background: yellow;
    height: 25vh;
    text-align: center;
}