body {
    font-family: sans-serif;
}

.cor01 {
    background: red;
    height: 100px;
    text-align: center;
    padding-top: 80px;
}

.cor02 {
    background: orange;
    height: 100px;
    text-align: center;
    padding-top: 80px;
}

.cor03 {
    background: yellow;
    height: 100px;
    text-align: center;
    padding-top: 80px;
}